absl-py==2.1.0
accelerate==1.5.2
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
bitsandbytes==0.45.4
comtypes==1.4.9
flatbuffers==25.2.10
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
huggingface-hub==0.29.3
jax==0.5.0
jaxlib==0.5.0
jiter==0.8.2
jsonpointer==2.1
keras==3.9.2
libclang==18.1.1
lxml==5.2.1
matplotlib==3.9.2
mediapipe==0.10.21
mkl-service==2.4.2
ml_dtypes==0.5.1
multitasking==0.0.11
namex==0.0.8
openai==0.28.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.14.1
peewee==3.17.9
peft==0.15.1
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pypiwin32==223
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyttsx3==2.98
safetensors==0.5.3
sentencepiece==0.2.0
setuptools==75.1.0
sounddevice==0.5.1
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.1
tf_keras==2.19.0
tokenizers==0.21.1
torch==2.6.0
transformers==4.50.2
wheel==0.44.0
yfinance==0.2.55

